<template>
  <base-section
    id="features"
    class="secondary"
  >
    <v-responsive
      class="mx-auto"
      max-width="1350"
    >
      <v-container fluid>
        <v-row
          justify="space-between"
        >
          <v-col
            v-for="card in cards"
            :key="card.title"
            cols="12"
            sm="4"
            md="3"
          >
            <base-info-card
              align="center"
              dark
              v-bind="card"
            />
          </v-col>
        </v-row>
      </v-container>
    </v-responsive>
  </base-section>
</template>

<script>
  export default {
    name: 'SectionFeatures',

    data: () => ({
      cards: [
        {
          // icon: 'mdi-keyboard-outline',
          title: 'lek. dent. Agnieszka Gorczyca-Bartoszek',
          text: 'Absolwentka Akademii Medycznej w Gdańsku. Zajmuje się stomatologią zachowawczą i estetyczną, specjalistyczną endodoncją z wykorzystaniem mikroskopu zabiegowego i protetyką. Regularnie uczestniczy w kursach i szkoleniach, podnosząc swoje kwalifikacje.\n' +
            '\n' +
            'Chętnie przyjmuje też dzieci i potrafi je przekonać do współpracy. Posługuje się językiem angielskim i hiszpańskim.',
        },
        {
          // icon: 'mdi-camera-outline',
          title: 'lek. dent. Magdalena Płachta',
          text: 'Absolwentka Warszawskiego Uniwersytetu Medycznego. Ukończyła Curriculum Implantologiczne zakończone międzynarodowym egzaminem DGOI (Deutsche Gesellschaft fur Orale Implantologie). Autorka artykułów publikowanych w prestiżowym czasopiśmie specjalistycznym IMPLANTS DTI. Odbyła praktyki w prywatnych klinikach stomatologicznych w Londynie.\n' +
            '\n' +
            'W codziennej pracy zajmuje się chirurgią stomatologiczną i implantologią, a także protetyką. Biegle włada językiem angielskim.',
        },
        {
          // icon: 'mdi-pencil-outline',
          title: 'lek. dent. Karolina Siuciak',
          text: 'Absolwentka Warszawskiego Uniwersytetu Medycznego. Ukończyła program ortodontyczny Orthodontic Seminars of California. Stale poszerza swoją wiedzę kliniczną pod okiem doświadczonych specjalistów równocześnie biorąc udział w licznych konferencjach i szkoleniach. \n' +
            'Autorka publikacji naukowych w czasopiśmie Implants DTI. Posiada certyfikaty z leczenia ortodontycznego przy użyciu mini implantów, leczenia ortodontycznego 3D w systemie H4, interdyscyplinarnego podejścia do okluzji.\n' +
            'W gabinecie zajmuje się leczeniem ortodontycznym dzieci i dorosłych przy użyciu aparatów stałych i ruchomych, a także leczeniem zachowawczym.  Biegle włada językiem angielskim.\n',
        },
        /* {
          icon: 'mdi-pencil-outline',
          title: 'Imię Nazwisko',
          text: 'Efficiently unleash media information without cross-media value. Quickly maximize value timely deliverables schemas.',
        }, */
      ],
    }),
  }
</script>

<style>

</style>
