<template>
  <section id="hero">
    <v-img
      :min-height="minHeight"
      :src="require('@/assets/piekna-mloda.jpg')"
      class="white--text"
      gradient="to right, rgba(5, 11, 31, .5), rgba(5, 11, 31, .5)"
    >
      <v-container class="fill-height px-4 py-12">
        <v-responsive
          class="d-flex align-center"
          height="100%"
          max-width="700"
          width="100%"
        >
          <base-heading title="" />

          <base-body>
            Serdecznie zapraszamy do naszej nowo otwartej Kliniki Stomatologicznej, która powstała na bazie wieloletniego doświadczenia i chęci ciągłego doskonalenia. Oferujemy Państwu kompleksową opiekę stomatologiczną w przyjaznej atmosferze w nowoczesnych wnętrzach.

            Mamy nadzieję, że każde spotkanie z nami będzie dla Państwa okazją do szerokiego uśmiechu.
          </base-body>

          <div
            :class="$vuetify.breakpoint.smAndDown ? 'flex-column align-start' : 'align-center'"
            class="d-flex flex-wrap"
          >
            <base-btn>
              O nas
            </base-btn>

            <span class="font-weight-bold ml-6 mr-4 my-4"></span>

            <base-btn>
              Cennik
            </base-btn>
          </div>
        </v-responsive>
      </v-container>
    </v-img>
  </section>
</template>

<script>
  export default {
    name: 'SectionHero',

    provide: {
      theme: { isDark: true },
    },

    computed: {
      minHeight () {
        const height = this.$vuetify.breakpoint.mdAndUp ? '100vh' : '50vh'

        return `calc(${height} - ${this.$vuetify.application.top}px)`
      },
    },
  }
</script>
