<template>
  <base-section id="theme-features">
    <base-section-heading title="Oferta">
      Oferujemy szeroki wachlarz usług obejmujące leczenie, profilaktykę oraz medycynę estetyczną. Nasz doświadczony personel gwarantuje szybką oraz profesjonalną usługę przy użyciu najnowocześniejszych technologii. Wszystko to w przystępnej cenie.
    </base-section-heading>

    <v-container>
      <v-row>
        <v-col
          v-for="(feature, i) in features"
          :key="i"
          cols="12"
          md="6"
        >
          <base-avatar-card
            v-bind="feature"
            align="left"
            horizontal
          />
        </v-col>
      </v-row>
    </v-container>
  </base-section>
</template>

<script>
  export default {
    name: 'SectionThemeFeatures',

    data: () => {
      return ({
        features: [
          {
            title: 'Stomatologia zachowawcza',
            icon: '',
          },
          {
            title: 'Leczenie kanałowe pod mikroskopem',
            icon: 'mdi-hexagon-multiple',
          },
          {
            // color: 'white',
            // dark: true,
            title: 'Protetyka',
            icon: 'mdi-bone',
          },
          {
            title: 'Ortodoncja',
            icon: 'mdi-stairs',
          },
          {
            title: 'Implantologia',
            icon: 'mdi-tooth',
          },
          {
            title: 'Chirurgia stomatologiczna',
            icon: 'mdi-clipboard-plus-outline',
          },
          {
            title: 'Stomatologia estetyczna',
            icon: 'mdi-creation',
          },
          {
            title: 'Medycyna estetyczna',
            icon: 'mdi-star-outline',
          },
          {
            title: 'Leczenie dzieci',
            icon: 'mdi-cookie',
          },
          {
            title: 'Profilaktyka',
            icon: 'mdi-calendar-multiple-check',
          },
        ],
      })
    },
  }
</script>
