<template>
  <v-theme-provider :dark="dark">
    <div>
      <base-title
        size="body-1"
        space="4"
        title="Asdsa"
        weight="regular"
      />

      <base-body>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo pariatur quidem, quis modi iure nihil commodi suscipit, corporis dicta adipisci, voluptatum quia cupiditate. Nulla minus voluptatum nostrum deleniti, asperiores facere.
      </base-body>

      <base-btn
        class="mb-12"
        color="red"
        outlined
      >
        More Info
      </base-btn>
    </div>
  </v-theme-provider>
</template>

<script>
  export default {
    name: 'BaseInfo',

    props: {
      title: String,
      dark: Boolean,
    },

    data: () => ({
      business: [
        {
          icon: 'mdi-map-marker-outline',
          title: 'Adres',
          text: 'Głębocka 3/lok. 23, 03-287<br>Warszawa',
        },
        {
          icon: 'mdi-cellphone',
          title: 'Telefon',
          text: '01 (800) 433 744',
        },
        {
          icon: 'mdi-email',
          title: 'Email',
          text: 'dentalwhitehouse@gmail.com',
        },
      ],
    }),
  }
</script>
