<template>
  <div>
    <v-app-bar
      id="home-app-bar"
      app
      color="black"
      elevation="1"
      height="80"
    >
      <v-spacer />

      <div>
        <v-tabs
          class="hidden-sm-and-down"
          optional
        >
          <v-tab
            v-for="(name, i) in items"
            :key="i"
            :to="{ name }"
            :exact="name === 'Home'"
            :ripple="false"
            active-class="text--primary"
            class="font-weight-bold"
            min-width="96"
            color="white"
            text
          >
            {{ name }}
          </v-tab>
        </v-tabs>
      </div>

      <v-app-bar-nav-icon
        class="hidden-md-and-up"
        @click="drawer = !drawer"
      />
    </v-app-bar>

    <home-drawer
      v-model="drawer"
      :items="items"
    />
  </div>
</template>

<script>
  export default {
    name: 'HomeAppBar',

    components: {
      HomeDrawer: () => import('./Drawer'),
    },

    data: () => ({
      drawer: null,
      items: [
        'Oferta',
        'O nas',
        'Kontakt',
      ],
    }),
  }
</script>

<style lang="sass">
  #home-app-bar
    .v-tabs-slider
      max-width: 24px
      margin: 0 auto
      background-color: black !important

    .v-tab
      &::before
        display: inline-block

  .v-item-group.theme--light.v-slide-group.v-tabs-bar.primary--text
    background-color: black

  a.font-weight-bold.text--primary.v-tab--active.v-tab
    color: #dfaabe !important
</style>
